**/.vscode
**/.DS_Store
**/.localized
**/.direnv
**/.swp
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
**/vite.config.js.timestamp-*
**/vite.config.ts.timestamp-*
**/.firebase
**/.firebaserc
**/ui-debug.log
**/database-debug.log
**/firebase-debug.log
**/pubsub-debug.log
**/.runtimeconfig.json
**/npm-debug.log
**/.vercel
.env*.local
