@import 'tailwindcss/index.css';
@config '../tailwind.config.cjs';

:root {
  --hf-font-sans: 'Poppins', ui-sans-serif, system-ui, sans-serif;
}

.hf-title {
  font-family: var(--hf-font-sans);
  font-size: 5rem;
  font-weight: 600;
  line-height: 100px;
}

.hf-heading-1 {
  font-family: var(--hf-font-sans);
  font-size: 4rem;
  font-weight: 600;
  line-height: 80px;
}

.hf-heading-2 {
  font-family: var(--hf-font-sans);
  font-size: 3rem;
  font-weight: 600;
  line-height: 64px;
}

.hf-heading-3 {
  font-family: var(--hf-font-sans);
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 48px;
}

.hf-heading-4 {
  font-family: var(--hf-font-sans);
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 36px;
}

.hf-heading-5 {
  font-family: var(--hf-font-sans);
  font-size: 1.375rem;
  font-weight: 600;
  line-height: 32px;
}

.hf-body-1,
.hf-body-1-x {
  font-family: var(--hf-font-sans);
  font-size: 1rem;
  line-height: 24px;
}

.hf-body-1-x {
  font-weight: 600;
}

.hf-body-2,
.hf-body-2-x {
  font-family: var(--hf-font-sans);
  font-size: 0.875rem;
  line-height: 24px;
}

.hf-body-2-x {
  font-weight: 600;
}

.hf-caption,
.hf-caption-x {
  font-family: var(--hf-font-sans);
  font-size: 13px;
  line-height: 20px;
}

.hf-caption-x {
  font-weight: 600;
}

.hf-tiny,
.hf-tiny-x {
  font-family: var(--hf-font-sans);
  font-size: 0.652rem;
  line-height: 20px;
}

.hf-tiny-x {
  font-weight: 600;
}
